################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Advent2018/obj/Debug
*.suo
/Advent2018/.vs/AdventOfCode2018/v15/Server/sqlite3
/Advent2018/bin/Debug
/Advent2018/obj/Release
/C#/Advent2018/obj/Debug
