################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Advent2018/obj/Debug
*.suo
/Advent2018/.vs/AdventOfCode2018/v15/Server/sqlite3
